// Don't print any extraneous stuff
@media print {
  header,
  footer,
  nav,
  .breadcrumb,
  .contextual .trigger {
    display: none;
  }
  a[href]:after {
    content: "";
  }
  .alert {
    display: none;
  }
  .field {
    page-break-inside: avoid;
  }
  .block-content {
    margin-bottom: 10px;
  }
}

@media print and (max-width: 150mm) and (orientation: portrait) {
  .field {
    page-break-inside: initial;
  }
}

@page {
  margin-left: 0.1in;
  margin-right: 0.1in;
}