// Don't print any extraneous stuff
@media print {
  header,
  footer,
  nav {
    display: none;
  }
  a[href]:after {
    content: "";
  }
  .alert {
    display: none;
  }
  .field {
    page-break-inside: avoid;
  }
}